[Unit]
Description=Catabot ROS2 Bringup
After=network-online.target zed_x_daemon.service
Wants=network-online.target

[Service]
Type=simple
User=catabot-5
Group=catabot-5
Environment="HOME=/home/catabot-5"
Environment="ROS_DOMAIN_ID=0"
EnvironmentFile=-/home/catabot-5/boat_ws/install/setup.sh
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash /home/catabot-5/boat_ws/src/boat_workspace/catabot_bringup/script/startup_bringup.sh
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=catabot_bringup
KillSignal=SIGINT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
