<launch>

<arg name="bag.name" default="$(env HOME)/datalog/rosbag/$(env USER)"/>
<arg name="bag.topics"
     default=
     "
/catabot/servo/PWM_right
/catabot/servo/PWM_left
/catabot/compass_turn/time
/camera/accel/imu_info
/camera/accel/sample
/camera/color/camera_info
/camera/color/image_raw/compressed
/camera/color/image_raw/compressed/parameter_descriptions
/camera/color/image_raw/compressed/parameter_updates
/camera/color/image_raw/compressedDepth/parameter_descriptions
/camera/color/image_raw/compressedDepth/parameter_updates
/camera/color/image_raw/theora
/camera/color/image_raw/theora/parameter_descriptions
/camera/color/image_raw/theora/parameter_updates
/camera/depth/camera_info
/camera/depth/image_rect_raw
/camera/depth/image_rect_raw/compressed/parameter_descriptions
/camera/depth/image_rect_raw/compressed/parameter_updates
/camera/depth/image_rect_raw/compressedDepth
/camera/depth/image_rect_raw/compressedDepth/parameter_descriptions
/camera/depth/image_rect_raw/compressedDepth/parameter_updates
/camera/depth/image_rect_raw/theora/parameter_descriptions
/camera/depth/image_rect_raw/theora/parameter_updates
/camera/extrinsics/depth_to_color
/camera/extrinsics/depth_to_infra1
/camera/extrinsics/depth_to_infra2
/camera/gyro/imu_info
/camera/gyro/sample
/camera/image_raw/compressed
/camera/infra1/camera_info
/camera/infra1/image_rect_raw/compressed
/camera/infra1/image_rect_raw/compressed/parameter_descriptions
/camera/infra1/image_rect_raw/compressed/parameter_updates
/camera/infra1/image_rect_raw/compressedDepth/parameter_descriptions
/camera/infra1/image_rect_raw/compressedDepth/parameter_updates
/camera/infra1/image_rect_raw/theora
/camera/infra1/image_rect_raw/theora/parameter_descriptions
/camera/infra1/image_rect_raw/theora/parameter_updates
/camera/infra2/camera_info
/camera/infra2/image_rect_raw/compressed
/camera/infra2/image_rect_raw/compressed/parameter_descriptions
/camera/infra2/image_rect_raw/compressed/parameter_updates
/camera/infra2/image_rect_raw/compressedDepth/parameter_descriptions
/camera/infra2/image_rect_raw/compressedDepth/parameter_updates
/camera/infra2/image_rect_raw/theora
/camera/infra2/image_rect_raw/theora/parameter_descriptions
/camera/infra2/image_rect_raw/theora/parameter_updates
/camera/motion_module/parameter_descriptions
/camera/motion_module/parameter_updates
/camera/realsense2_camera_manager/bond
/camera/rgb_camera/auto_exposure_roi/parameter_descriptions
/camera/rgb_camera/auto_exposure_roi/parameter_updates
/camera/rgb_camera/parameter_descriptions
/camera/rgb_camera/parameter_updates
/camera/stereo_module/auto_exposure_roi/parameter_descriptions
/camera/stereo_module/auto_exposure_roi/parameter_updates
/camera/stereo_module/parameter_descriptions
/camera/stereo_module/parameter_updates
/diagnostics
/joint_states
/robot_2/mavlink/from
/robot_2/mavlink/gcs_ip
/robot_2/mavlink/to
/robot_2/mavros/adsb/send
/robot_2/mavros/adsb/vehicle
/robot_2/mavros/battery
/robot_2/mavros/cam_imu_sync/cam_imu_stamp
/robot_2/mavros/companion_process/status
/robot_2/mavros/debug_value/debug
/robot_2/mavros/debug_value/debug_vector
/robot_2/mavros/debug_value/named_value_float
/robot_2/mavros/debug_value/named_value_int
/robot_2/mavros/debug_value/send
/robot_2/mavros/distance_sensor/rangefinder_pub
/robot_2/mavros/distance_sensor/rangefinder_sub
/robot_2/mavros/esc_info
/robot_2/mavros/esc_status
/robot_2/mavros/estimator_status
/robot_2/mavros/extended_state
/robot_2/mavros/fake_gps/mocap/pose
/robot_2/mavros/fake_gps/mocap/tf
/robot_2/mavros/geofence/waypoints
/robot_2/mavros/global_position/compass_hdg
/robot_2/mavros/global_position/global
/robot_2/mavros/global_position/gp_lp_offset
/robot_2/mavros/global_position/gp_origin
/robot_2/mavros/global_position/home
/robot_2/mavros/global_position/local
/robot_2/mavros/global_position/raw/fix
/robot_2/mavros/global_position/raw/gps_vel
/robot_2/mavros/global_position/raw/satellites
/robot_2/mavros/global_position/rel_alt
/robot_2/mavros/global_position/set_gp_origin
/robot_2/mavros/gps_rtk/rtk_baseline
/robot_2/mavros/gps_rtk/send_rtcm
/robot_2/mavros/gpsstatus/gps1/raw
/robot_2/mavros/gpsstatus/gps1/rtk
/robot_2/mavros/gpsstatus/gps2/raw
/robot_2/mavros/gpsstatus/gps2/rtk
/robot_2/mavros/hil/actuator_controls
/robot_2/mavros/hil/controls
/robot_2/mavros/hil/gps
/robot_2/mavros/hil/imu_ned
/robot_2/mavros/hil/optical_flow
/robot_2//mavros/hil/rc_inputs
/robot_2/mavros/hil/state
/robot_2//mavros/home_position/home
/robot_2/mavros/home_position/set
/robot_2/mavros/imu/data
/robot_2/mavros/imu/data_raw
/robot_2/mavros/imu/diff_pressure
/robot_2/mavros/imu/mag
/robot_2/mavros/imu/static_pressure
/robot_2/mavros/imu/temperature_baro
/robot_2/mavros/imu/temperature_imu
/robot_2/mavros/landing_target/lt_marker
/robot_2/mavros/landing_target/pose
/robot_2/mavros/landing_target/pose_in
/robot_2/mavros/local_position/accel
/robot_2/mavros/local_position/odom
/robot_2/mavros/local_position/pose
/robot_2/mavros/local_position/pose_cov
/robot_2/mavros/local_position/velocity
/robot_2/mavros/local_position/velocity_body
/robot_2/mavros/local_position/velocity_body_cov
/robot_2/mavros/local_position/velocity_local
/robot_2/mavros/log_transfer/raw/log_data
/robot_2/mavros/log_transfer/raw/log_entry
/robot_2/mavros/manual_control/control
/robot_2/mavros/manual_control/send
/robot_2/mavros/mission/reached
/robot_2/mavros/mission/waypoints
/robot_2/mavros/mocap/pose
/robot_2/mavros/mount_control/command
/robot_2/mavros/mount_control/orientation
/robot_2/mavros/obstacle/send
/robot_2/mavros/odometry/in
/robot_2/mavros/odometry/odom
/robot_2/mavros/odometry/out
/robot_2/mavros/onboard_computer/status
/robot_2/mavros/param/param_value
/robot_2/mavros/play_tune
/robot_2/mavros/radio_status
/robot_2/mavros/rallypoint/waypoints
/robot_2/mavros/rangefinder/rangefinder
/robot_2/mavros/rc/in
/robot_2/mavros/rc/out
/robot_2/mavros/rc/override
/robot_2/mavros/setpoint_accel/accel
/robot_2/mavros/setpoint_attitude/cmd_vel
/robot_2/mavros/setpoint_attitude/thrust
/robot_2/mavros/setpoint_position/global
/robot_2/mavros/setpoint_position/global_to_local
/robot_2/mavros/setpoint_position/local
/robot_2/mavros/setpoint_raw/attitude
/robot_2/mavros/setpoint_raw/global
/robot_2/mavros/setpoint_raw/local
/robot_2/mavros/setpoint_raw/target_attitude
/robot_2/mavros/setpoint_raw/target_global
/robot_2/mavros/setpoint_raw/target_local
/robot_2/mavros/setpoint_trajectory/desired
/robot_2/mavros/setpoint_trajectory/local
/robot_2/mavros/setpoint_velocity/cmd_vel
/robot_2/mavros/setpoint_velocity/cmd_vel_unstamped
/robot_2/mavros/state
/robot_2/mavros/statustext/recv
/robot_2/mavros/statustext/send
/robot_2/mavros/time_reference
/robot_2/mavros/timesync_status
/robot_2/mavros/trajectory/desired
/robot_2/mavros/trajectory/generated
/robot_2/mavros/trajectory/path
/robot_2/mavros/vfr_hud
/robot_2/mavros/vision_pose/pose
/robot_2/mavros/vision_pose/pose_cov
/robot_2/mavros/wind_estimation
/robot_2/odometry/filtered
/robot_2/ouster/imu_packets
/robot_2/ouster/lidar_packets
/robot_2/LSTM_out
/robot_2/ais_info
/robot_2/base_pose_ground_truth
/robot_2/boundary
/robot_2/cluster
/robot_2/cluster_visualize
/robot_2/cmd_vel
/robot_2/control_state
/robot_2/next_wp_marker
/robot_2/odom
/robot_2/gps_converted_odom
/robot_2/passage_plan
/robot_2/running_time
/robot_2/ais_info
/robot_2/base_pose_ground_truth
/robot_2/boundary
/robot_2/cmd_vel
/robot_2/control_state
/robot_2/odom
/robot_0/ais_info
/robot_0/base_pose_ground_truth
/robot_0/boundary
/robot_0/cmd_vel
/robot_0/mavros/setpoint_velocity/cmd_vel_unstamped
/robot_0/control_state
/robot_0/odom
/robot_0/gps_converted_odom
/robot_1/ais_info
/robot_1/base_pose_ground_truth
/robot_1/boundary
/robot_1/cmd_vel
/robot_1/mavros/setpoint_velocity/cmd_vel_unstamped
/robot_1/control_state
/robot_1/odom
/robot_1/gps_converted_odom
/rosout
/rosout_agg
/set_pose
/robot_2/sonar
/standalone_nodelet/bond
/tf
/tf_static
/robot_2/usb_cam_underwater/camera_info
/robot_2/usb_cam_underwater/image_raw/compressed
/robot_2/usb_cam_surface/camera_info
/robot_2/usb_cam_surface/image_raw/compressed
/scan
/sonde
/velodyne_nodelet_manager/bond
/velodyne_nodelet_manager_cloud/parameter_descriptions
/velodyne_nodelet_manager_cloud/parameter_updates
/velodyne_nodelet_manager_driver/parameter_descriptions
/velodyne_nodelet_manager_driver/parameter_updates
/velodyne_nodelet_manager_laserscan/parameter_descriptions
/velodyne_nodelet_manager_laserscan/parameter_updates
/velodyne_packets
/velodyne_points
/ouster/imu_packets
/ouster/lidar_packets

"/>

  <node pkg="rosbag" type="record" name="$(anon record)" args="--output-prefix=$(arg bag.name) $(arg bag.topics)" />
</launch>
