<launch>

<arg name="bag.name" default="/home/catabot-4/datalog/rosbag/catabot4"/>
<arg name="bag.topics"
     default=
     "
/cluster
/diagnostics
/finish_mission
/robot_0/ais_info
/robot_0/boundary
/robot_0/mavlink/from
/robot_0/mavlink/gcs_ip
/robot_0/mavlink/to
/robot_0/mavros/battery
/robot_0/mavros/battery2
/robot_0/mavros/estimator_status
/robot_0/mavros/extended_state
/robot_0/mavros/geofence/waypoints
/robot_0/mavros/global_position/compass_hdg
/robot_0/mavros/global_position/global
/robot_0/mavros/global_position/gp_lp_offset
/robot_0/mavros/global_position/gp_origin
/robot_0/mavros/global_position/home
/robot_0/mavros/global_position/local
/robot_0/mavros/global_position/raw/fix
/robot_0/mavros/global_position/raw/gps_vel
/robot_0/mavros/global_position/raw/satellites
/robot_0/mavros/global_position/rel_alt
/robot_0/mavros/global_position/set_gp_origin
/robot_0/mavros/home_position/home
/robot_0/mavros/home_position/set
/robot_0/mavros/imu/data
/robot_0/mavros/imu/data_raw
/robot_0/mavros/imu/diff_pressure
/robot_0/mavros/imu/mag
/robot_0/mavros/imu/static_pressure
/robot_0/mavros/imu/temperature_baro
/robot_0/mavros/imu/temperature_imu
/robot_0/mavros/local_position/accel
/robot_0/mavros/local_position/odom
/robot_0/mavros/local_position/pose
/robot_0/mavros/local_position/pose_cov
/robot_0/mavros/local_position/velocity_body
/robot_0/mavros/local_position/velocity_body_cov
/robot_0/mavros/local_position/velocity_local
/robot_0/mavros/manual_control/control
/robot_0/mavros/manual_control/send
/robot_0/mavros/mission/reached
/robot_0/mavros/mission/waypoints
/robot_0/mavros/nav_controller_output
/robot_0/mavros/param/param_value
/robot_0/mavros/radio_status
/robot_0/mavros/rallypoint/waypoints
/robot_0/mavros/rc/in
/robot_0/mavros/rc/out
/robot_0/mavros/rc/override
/robot_0/mavros/setpoint_accel/accel
/robot_0/mavros/setpoint_attitude/cmd_vel
/robot_0/mavros/setpoint_attitude/thrust
/robot_0/mavros/setpoint_position/global
/robot_0/mavros/setpoint_position/global_to_local
/robot_0/mavros/setpoint_position/local
/robot_0/mavros/setpoint_raw/attitude
/robot_0/mavros/setpoint_raw/global
/robot_0/mavros/setpoint_raw/local
/robot_0/mavros/setpoint_raw/target_attitude
/robot_0/mavros/setpoint_raw/target_global
/robot_0/mavros/setpoint_raw/target_local
/robot_0/mavros/setpoint_trajectory/desired
/robot_0/mavros/setpoint_trajectory/local
/robot_0/mavros/setpoint_velocity/cmd_vel
/robot_0/mavros/setpoint_velocity/cmd_vel_unstamped
/robot_0/mavros/state
/robot_0/mavros/statustext/recv
/robot_0/mavros/statustext/send
/robot_0/mavros/time_reference
/robot_0/mavros/timesync_status
/robot_0/mavros/vfr_hud
/robot_0/mavros/wind_estimation
/robot_0/next_wp_marker
/robot_0/passage_plan
/robot_1/ais_info
/robot_1/boundary
/robot_1/mavros/global_position/local
/robot_1/mavros/setpoint_velocity/cmd_vel_unstamped
/robot_2/ais_info
/robot_2/boundary
/robot_2/mavros/global_position/local
/robot_2/mavros/setpoint_velocity/cmd_vel_unstamped
/robot_3/ais_info
/robot_3/boundary
/robot_3/mavros/global_position/local
/robot_3/mavros/setpoint_velocity/cmd_vel_unstamped
/robot_4/ais_info
/robot_4/boundary
/robot_4/mavros/global_position/local
/robot_4/mavros/setpoint_velocity/cmd_vel_unstamped
/rosout
/rosout_agg
/running_time
/scan
/tf
/tf_static
/usb_cam_surface/camera_info
/usb_cam_surface/image_raw/compressed
/velodyne_nodelet_manager/bond
/velodyne_nodelet_manager_cloud/parameter_descriptions
/velodyne_nodelet_manager_cloud/parameter_updates
/velodyne_nodelet_manager_driver/parameter_descriptions
/velodyne_nodelet_manager_driver/parameter_updates
/velodyne_nodelet_manager_laserscan/parameter_descriptions
/velodyne_nodelet_manager_laserscan/parameter_updates
/velodyne_packets
/velodyne_points
"/>

  <node pkg="rosbag" type="record" name="$(anon record)" args="--output-prefix=$(arg bag.name) $(arg bag.topics)" />
</launch>
